<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	
	<h1 style="color:black;font-size:5em;">Error 404</h1>
	<h2 style="color:black;font-size:2em;text-align:center;">La pagina solicitada no existe</h2>
	<h3 style="color:black;font-size:1em;text-align:center;">Impordisa SAS</h3>
	
	<footer th:replace="footer :: footer"></footer>
	<div th:replace="seguridad2 :: seguridad2"></div>
	<script src="/static/js/parametros/parametros.js"></script>
</body>
</html>