<!DOCTYPE html>
<html>
<head th:replace="header :: header">
</head>
<body class="main-form" ng-app="Correrias"
	ng-controller="CorreriaController">
	
	<nav th:replace="navJM :: navJM"></nav>

	<h1>Agregar Precio Especial</h1>
	
	<table>
		<thead>
			<tr>
				<th style="width:30%;">Ciudad</th>
				<th style="width:50%;">RazSoc</th>
				<th style="width:10%;">CodCorr</th>
				<th style="width:10%;">C&oacute;digo</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cliente in cliente.lista">
    			<td><input type="text" readonly="readonly" ng-model="cliente.ciudad.ciudad"  /> </td>
    			<td><input type="text" readonly="readonly" ng-model="cliente.razsoc"/></td>
    			<td><input type="text" readonly="readonly" ng-model="cliente.codigo"/></td>
    			<td><input type="number" ng-model="cliente.codcorr.codigo"  ng-model-options="{updateOn: 'blur'}"  ng-change="actualizar(cliente)"/></td>
  			</tr>
		</tbody>
	</table>

	<footer th:replace="footer :: footer"></footer>
	<div th:replace="seguridad2 :: seguridad2"></div>
	<script src="/static/js/correrias/revisarArchivoClientes.js"></script>
</body>
</html>
