<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Cartera</title>
</head>
<body class="main-form" ng-app="Cartera" ng-controller="CarteraController">
	<nav th:replace="navJM :: navJM"></nav>
	<h1> Recuperaci&oacute;n de Cartera </h1>
	<form onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-3 medium-3 small-3 columns">
				<label>N&uacute;mero de la Factura <input ng-model="cartera.numero" type="text" /></label>
			</div>
			<div class="large-3 medium-3 small-3 columns end">
				<label>[I/J/C] <input ng-model="cartera.tipo" type="text" ng-change="validarTipo()" /></label>
			</div>
		</div>
		
		<div class="row">
			<div class="large-4 medium-4 small-4 columns">
				<label>Fecha dd/mm/aaaa <input ng-model="cartera.fecha" type="text" ng-change="obtenerFactura()"  />
				</label>
			</div>
		</div>
		
		<div class="row">
			<div class="large-4 medium-4 small-4 columns">
				<label>Cliente <input type="text" ng-model="cartera.cliente" ng-model-options="{updateOn: 'blur'}"  ng-change="obtenerCliente()"/>
				</label>
			</div>
			<div class="large-8 medium-8 small-8 columns end">
				<label>&nbsp; <input type="text" ng-model="cartera.razsoc"/>
				</label>
			</div>
		</div>
		
		<div class="row">
			<div class="">
				<button type="submit" class="button large-3 submit"
					style="float: right">Guardar cambios</button>
			</div>
		</div>
	
	</form>	
	
   	<footer th:replace="footer :: footer"></footer>
   	<script src="/static/js/cartera/recuperacioncartera.js"></script>
</body>
</html>