<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Usuarios</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1> Usuarios </h1>
	<div class="row">
		<a class="large button boton boton-derecha" href="nuevo/">Nuevo</a>
	</div>
	<table>
		<thead>
			<tr>
				<th style="width:20%;">Usuario</th>
				<th style="width:20%;">Nivel</th>
				<th style="width:20%;">Nombre nivel</th>
				<th style="width:20%;">Max días</th>
				<th style="width:20%;">Días alerta</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
   	<footer th:replace="footer :: footer"></footer>
   	<script src="/static/js/usuarios/usuarios.js"></script>
</body>
</html>

