<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Nuevo Usuario</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1>Nuevo Usuario</h1>
	<form onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-6 columns">
				<label>Usuario <input id="usuario" type="text" name="usuario" required="required" onchange="verificar()"/>
				</label>
			</div>
			<div class="large-6 columns">
				<label> Nivel <select id="nivel"  name="nivel"
					required="required"  ></select></label>
			</div>
			<div class="large-6 columns">
				<label> D&iacute;as cambio password <input id="maxdias" type="number" name="maxdias"
					required="required"  /></label>
			</div>
			<div class="large-6 columns">
				<label> D&iacute;as mensaje de cambio <input id="diasalerta" type="number" name="diasalerta"
					required="required"  /></label>
			</div>
			<div class="large-12 columns">
				<label> Password <input id="password" type="password" name="password"
					required="required"  /></label>
			</div>
		</div>
		<div class="row">
			<div class="">
				<button type="submit" class="button large-3 submit"
					style="float: right">Nuevo Usuario</button>
			</div>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/usuarios/usuariosnuevo.js"></script>
</body>
</html>