<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Anular factura</title>
	<style>
		tr:hover {
			background-color: #ffff78;
		}
	</style>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1 style="color: black; margin-top:0;"> Ciudades </h1>
	<div class="row">
		<a class="large button boton boton-derecha" href="nuevo/">Nuevo</a>
	</div>
	<table>
		<thead>
			<tr>
				<th>C&oacute;digo</th>
				<th>Nombre Ciudad </th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
   	<footer th:replace="footer :: footer"></footer>
   	<script src="/static/js/ciudades/ciudades.js"></script>
</body>
</html>