<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1 style="color: black">Bases</h1>
	<form onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-12 columns">
				<label>Tipo Operaci&oacute;n <select id="tipooperacion1"  name="tipooperacion1"></select>
				</label>
			</div>
			<div class="large-12 columns">
				<label>Impuesto </label>
				<label> <input id="impuesto" type="radio" name="impuesto" value="RETEFTE" required="required" /> Rete Fuente</label>
				<label><input id="impuesto" type="radio" name="impuesto" required="required" value="RETEIVA" /> Rete Iva </label>
				<label><input id="impuesto" type="radio" name="impuesto" required="required" value="RETEICA" /> Rete Ica </label>		
			</div>
			<div class="large-12 columns">
				<label>Base 
					<input id="base" type="number" name="base" required="required" /></label>
			</div>
			<div class="large-12 columns">
				<label>Porcentaje 
					<input step="0.01" id="porcentaje" type="number" required="required" name="porcentaje" /></label>
			</div>
			<div class="large-12 columns">
				<label>Tipo </label>
				<label> <input id="tipo" type="radio" name="tipo" value="1" required="required" /> Por Cien </label>
				<label> <input id="tipo" type="radio" name="tipo" value="2" required="required" /> Por Mil </label>
			</div>
		</div>
		<div class="row">
			<div class="">
				<button type="submit" class="button large-3 submit"
					style="float: right">Guardar cambios</button>
			</div>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/bases/basesnuevo.js"></script>
</body>
</html>