<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1
		style="color: black; margin-top: 0.5em; margin-bottom: 0.5em; text-align: center; font-size: 1.8em">Devoluciones JM</h1>
	<form>
		<table>
			<tr>
				<th style="width:10%;">C&oacute;digo</th>
				<th style="width:10%;">Nombre</th>
				<th style="width:10%;">Referencia</th>
				<th style="width:10%;">Factura</th>
				<th style="width:10%;">Tipo</th>
				<th style="width:10%;">Fecha</th>
				<th style="width:10%;">Cliente</th>
				<th style="width:10%;">Doc</th>
				<th style="width:10%;">NDoc</th>
				<th style="width:10%;">Cantidad</th>
			</tr>
			<tr>
				<td><input type="text" id="codigo"></input></td>
				<td><input type="text" id="nombre" readonly="readonly"></input></td>
				<td><input type="text" id="referencia" readonly="readonly"></input></td>
				<td><input type="text" id="factura"></input></td>
				<td><input type="text" id="tipo" required="required"></input></td>
				<td><input type="text" id="fecha" required="required"></input></td>
				<td><input type="number" id="cliente" required="required"></input></td>
				<td><input type="text" id="doc" required="required"></input></td>
				<td><input type="number" id="nDoc" required="required"></input></td>
				<td><input type="number" id="cantidad"></input></td>
			</tr>
		</table>
		<div class="row">
			<div class="large-2 large-offset-9 columns">
			  <a id="botAgregaFila" class="button expand" onclick="agregarFila();" style="width: 100%;">Añadir fila</a>
			</div>
		</div>
		<div class="row">
			<div class="large-2 large-offset-9 columns">
				<input type="submit" class="button expand success" style="width: 100%;" value="Guardar cambios"></input>
			</div>
		</div>
	</form>	
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/devoluciones/agregarDevolucionesJM.js"></script>
</body>
</html>
