<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1 style="color: black; margin-top:0;">Editar Texto Factura</h1>
	<form onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-12 columns">
				<label>C&oacute;digo <input id="codigo" type="text" name="codigo" readonly="readonly"
				 required="required" />
				</label>
			</div>
			<div class="large-12 columns">
				<label>Texto 1 <input id="texto1" type="text" name="texto1"
					required="required"  /></label>
			</div>
			<div class="large-12 columns">
				<label>Texto 2 <input id="texto2" type="text" name="texto2"
					required="required"  /></label>
			</div>
			<div class="large-12 columns">
				<label>Texto 3 <input id="texto3" type="text" name="texto3"
					required="required"  /></label>
			</div>
			<div class="large-12 columns">
				<label>D&iacute;as <input id="dias" type="number" name="dias"
					required="required"  /></label>
			</div>
			<div class="large-12 columns">
				<label>Porcentaje <input id="porcentaje" type="number" name="porcentaje"
					required="required"  /></label>
			</div>
		</div>
		<div class="row">
			<div class="">
				<button type="submit" class="button large-3 submit"
					style="float: right">Nueva</button>
			</div>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/facturas/textosfacturaeditar.js"></script>
</body>
</html>