<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Nueva zona</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1>Nueva Zona</h1>
	<form onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-12 columns">
				<label>Zona <input class="mayusc" id="zona" type="text" name="zona" onchange="verificar()"
				 required="required" />
				</label>
			</div>
			<div class="large-12 columns">
				<label>Descripci&oacute;n <input id="nombre" type="text" name="nombre"
					required="required"  /></label>
			</div>
		</div>
		<div class="row">
			<div class="">
				<button type="submit" class="button large-3 submit"
					style="float: right">Nueva</button>
			</div>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/zonas/zonasNuevo.js"></script>
</body>
</html>