<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Zonas</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<link rel="stylesheet" href="/static/css/tabla.css"/>
	<h1> Zonas </h1>
	<div class="row">
		<a class="large button boton boton-derecha" href="nuevo/">Nuevo</a>
	</div>
	<table>
		<thead>
			<tr>
				<th style="width: 50%;">Zona</th>
				<th style="width: 50%;">Nombre</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
   	<footer th:replace="footer :: footer"></footer>
   	<div th:replace="seguridad2 :: seguridad2"></div>
   	<script src="/static/js/zonas/zonas.js"></script>
</body>
</html>