<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<style>
		td:hover{
			background-color: #ffff78;
		}
	</style>
</head>

<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>

	<h1 style="color: black">L&iacute;neas Registradas</h1>
	
	<div class="row">
		<a class="large button boton boton-derecha" href="agregar/">Agregar Nueva L&iacute;nea</a>
	</div>
	<table id="lineas">
		
	</table>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/lineas/lineas.js" type="text/javascript"></script>
</body>
</html>