<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Nueva zona</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1>Nuevo Proveedor</h1>
	<form onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-6 medium-6 small-6 row">
				<label> Identificac&iacute;on <input readonly="readonly" id="identificacion" type="text" name="identificacion"
				 required="required" />
				</label>
			</div>
			<div class="large-6 medium-6 small-6 row">
				<label> Nombres <input id="nombre" type="text" name="nombre"
					required="required"  /></label>
			</div>
			<div class="large-6 medium-6 small-6 row">
				<label> Direcci&oacute;n <input id="direccion" type="text" name="direccion"
					required="required"  /></label>
			</div>
			<div class="large-6 medium-6 small-6 row">
				<label> Tel&eacute;fono <input id="telefono" type="text" name="telefono"
					required="required"  /></label>
			</div>
			<div class="large-6 medium-6 small-6 row">
				<label> Ciudad 
					<select id="ciudad" name="ciudad" required="required" ></select>
				</label>
			</div>
			<div class="large-6 medium-6 small-6 row"></div>
			
			
		</div>
		<div class="row">
			<div class="">
				<button type="submit" class="button large-3 submit"
					style="float: right">Nuevo</button>
			</div>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/proveedores/actualizacioncrear.js"></script>
</body>
</html>