<!DOCTYPE html>
<html>
<head th:replace="header :: header">
</head>
<body class="main-form" ng-app="Correrias"
	ng-controller="CorreriaController">
	
	<nav th:replace="navJM :: navJM"></nav>

	<h1>Actualizar Vendedor</h1>
	
	<table>
		<thead>
			<tr>
				<th style="width:20%;">Ciudad</th>
				<th style="width:20%;">RazSoc</th>
				<th style="width:20%;">C&oacute;digo</th>
				<th style="width:20%;">Vendedor</th>
				<th style="width:20%;">Activo</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cliente in cliente.lista">
    			<td><input type="text" readonly="readonly" ng-model="cliente.ciudad.ciudad"  /> </td>
    			<td><input type="text" readonly="readonly" ng-model="cliente.razsoc" /> </td>
    			<td><input type="text" readonly="readonly" ng-model="cliente.codigo" /> </td>
    			<td><input type="text" readonly="readonly" ng-model="cliente.vendedor.codigo" /> </td>
    			<td><input type="text" ng-model="cliente.activo" ng-model-options="{updateOn: 'blur'}"  ng-change="actualizar( cliente )" ng-pattern="(S|N)"/></td>
  			</tr>
		</tbody>
	</table>

	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/clientes/activadesactiva.js"></script>
</body>
</html>