<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1>Actualiza Clientes/Articulos referencia especial</h1>
	<form id="editar" onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-12 medium-12 small-12
			 columns">
				<label>Cliente 
				<select id="cliente" required="required" name="codigo" >
					<option selected="selected" disabled="disabled" >Selecciona una opcion</option>
					</select></label>
			</div>
		</div>
		<div class="row">
			<div class="large-12 medium-12 small-12
			 columns">
				<label>Art&iacute;culo 
				<select id="articulo" onchange="actualizar();" 
					required="required" name="articulo" >
					<option selected="selected" disabled="disabled" >Selecciona una opción</option>
				</select></label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 medium-6 small-6 columns">
				<label>Referencia Especial<input id="referencia" type="text"
					required="required" name="referencia"/></label>
			</div>
			<div class="large-6 medium-6 small-6 columns">
				<label>Precio<input id="precio" type="text"
					required="required" name="precio"/></label>
			</div>
		</div>
		<div class="row">
			<button id="crear" type="submit" style="float: right;"
				class="button large-3 submit">Crear</button>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script type="text/javascript" src="/static/js/clientes/actualizarClientesReferenciaEspecialCrear.js"></script>
</body>
</html>