<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Anular factura</title>
	<style>
		tr:hover {
			background-color: #ffff78;
		}
	</style>
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>
	<h1> Clientes y Artículos con referencia especial </h1>
		<div class="row">
		<a class="large button boton boton-derecha" href="crear/">Nuevo</a>
	</div>
	<table>
		<thead>
			<tr>
				<th>C&oacute;digo</th>
				<th>Raz&oacute;n social</th>
				<th>Art&iacute;culo</th>
				<th>Referencia</th>
				<th>Precio</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="loader"></div>
   	<footer th:replace="footer :: footer"></footer>
   	<script src="/static/js/clientes/actualizarClientesReferenciaEspecial.js"></script>
</body>
</html>