<!DOCTYPE html>
<html>
<head th:replace="header :: header">
</head>
<body class="main-form" ng-app="Correrias"
	ng-controller="CorreriaController">
	
	<nav th:replace="navJM :: navJM"></nav>

	<h1>Actualizar Vendedor</h1>
	
	<table>
		<thead>
			<tr>
				<th style="width:30%;">Ciudad</th>
				<th style="width:40%;">RazSoc</th>
				<th style="width:10%;">C&oacute;digo</th>
				<th style="width:10%;">Vendedor</th>
				<th style="width:10%;">Activo</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cliente in cliente.lista">
    			<td><input type="text" readonly="readonly" ng-model="cliente.ciudad.ciudad"  /> </td>
    			<td><input type="text" readonly="readonly" ng-model="cliente.razsoc"/></td>
    			<td><input type="text" readonly="readonly" ng-model="cliente.codigo"/></td>
    			<td><input type="text" ng-model="cliente.vendedor.codigo"  ng-model-options="{updateOn: 'blur'}"  ng-change="actualizar( cliente )"/></td>
    			<td><input type="text" readonly="readonly" ng-model="cliente.activo"/></td>
  			</tr>
		</tbody>
	</table>

	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/clientes/actualizarVendedores.js"></script>
</body>
</html>