<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1 style="color: black; margin-top: 0; text-align: center;">Editar
		Cliente</h1>
	<form id="editar" onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<label>C&oacute;digo <input id="codigo" type="text"
					required="required" name="codigo" readonly="readonly" /></label>
			</div>
		</div>
		<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<label>Raz&oacute;n Social <input id="razsoc" type="text"
					required="required" name="razsoc" readonly="readonly" /></label>
			</div>
		</div>
		<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<label>Direcci&oacute;n <input id="direccion" type="text"
					required="required" name="direccion"  readonly="readonly"/></label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 medium-6 small-6 columns">
				<label>Tel&eacute;fono <input id="telefono" type="text"
					required="required" name="telefono" readonly="readonly"/></label>
			</div>
			<div class="large-6 medium-6 small-6 column	s">
				<label>CAMREF<input id="camref" type="text"
					required="required" name="camref"  /></label>
			</div>
		</div>
		<div class="row">
			<button id="crear" type="submit" style="float: right;"
				class="button large-3 submit">Editar</button>
		</div>
	</form>
	<form id="eliminar" onkeypress="return event.keyCode != 13;">
		<div class="row">
			<button id="crear" type="submit" style="float: right;"
				class="button large-3 submit alert">Eliminar</button>
		</div>
		<input type="hidden" id="codigo" name="codigo"></input>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script type="text/javascript" src="/static/js/clientes/clientesReferenciaEspecialEditar.js"></script>
</body>
</html>