<!DOCTYPE html>
<html>
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>

	<h1>Clientes Registrados</h1>


	<link rel="stylesheet" href="/static/css/tabla.css"/>	
	<table>
			<thead>
			
				<tr>
					<th style="width:16.6666666667%;">C&oacute;digo</th>
					<th style="width:16.6666666667%;">Razón Social</th>
					<th style="width:16.6666666667%;">Dirección</th>
					<th style="width:16.6666666667%;">Teléfono</th>
					<th style="width:16.6666666667%;">Ciudad</th>
					<th style="width:16.6666666667%;">Nit</th>
				</tr>
				
			</thead>
			<tbody>
			</tbody>
	</table>
	
	<div class="row">
		<a class="large button boton boton-derecha" href="crear/">Agregar Nuevo Cliente</a>
	</div>
	<footer th:replace="footer :: footer"></footer>
	<!--  <div th:replace="seguridad2 :: seguridad2"></div> -->
	<script src="/static/js/crearTabla.js"></script>
</body>
</html>
