<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Clientes referencia especial</title>
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>
	<h1> Clientes con referencia especial </h1>
	<table>
		<thead>
			<tr>
				<th>Código</th>
				<th>Razón social</th>
				<th>Dirección</th>
				<th>Teléfono</th>
				<th>CAMREF</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
   	<footer th:replace="footer :: footer"></footer>
   	<script src="/static/js/clientes/clientesReferenciaEspecial.js"></script>
</body>
</html>
