<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Clientes referencia especial</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<link rel="stylesheet" href="/static/css/tabla.css"/>
	<h1> Clientes con referencia especial </h1>
	<table>
		<thead>
			<tr>
				<th style="width:20%;">Código</th>
				<th style="width:20%;">Razón social</th>
				<th style="width:20%;">Dirección</th>
				<th style="width:20%;">Teléfono</th>
				<th style="width:20%;">CAMREF</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
   	<footer th:replace="footer :: footer"></footer>
   	<div th:replace="seguridad2 :: seguridad2"></div>
   	<script src="/static/js/clientes/clientesReferenciaEspecial.js"></script>
</body>
</html>
