<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Lista de rotulación</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1> Lista Rotulaci&oacute;n </h1>
	<table>
		<thead>
			<tr>
				<th style="width:25%;">C&oacute;digo</th>
				<th style="width:25%;">Raz&oacute;n Social</th>
				<th style="width:25%;">Ciudad</th>
				<th style="width:25%;">R&oacute;tulo</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
   	<footer th:replace="footer :: footer"></footer>
   	<script src="/static/js/rotulacion/rotulaciones.js"></script>
</body>
</html>