<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>
	<h1>Actualizar Art&iacute;culo</h1>
	<form onkeypress="return event.keyCode != 13;" id="editar">
		<div class="row">
			<div class="large-12 columns">
				<label>C&oacute;digo del grupo al que va a pertenecer 
					<input id="codigo-grupo" type="text" onchange="borrarAsignar()" required="required"/>
				</label>
			</div>
			<div class="large-6 columns">
				<label>N&uacute;mero para asignar el c&oacute;digo (cero para que sea aut&oacute;matico)
					<input id="codigo-asignar" type="text" required="required" onchange="buscarArticulo()"/>
				</label>
				
			</div>
			<div class="large-6 columns">		
 			<label> C&oacute;digo Art&iacute;culo <input id="codigo"
 				type="text" readonly="readonly" name="codigo" />		
 				</label>		
  			</div>
			<div class="large-6 columns">
				<label>Referencia Oficina 
					<input id="referencia" type="text" name="referencia" required="required" />
				</label>
			</div>
			<div class="large-6 columns">
				<label>Referencia Vendedor
					 <input id="refvendedor" type="text" name="refvendedor"	required="required" />
				</label>
			</div>
			<div class="large-6 columns">
				<label>Marca 
					<input id="marca" type="text" name="marca" required="required" />
				</label>
			</div>
			<div class="large-12 columns">
				<label>Uso 
					<input id="uso" type="text" name="uso" required="required" />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Modelo Oficina
				 	<input id="modelo1" type="text" name="modelo1"	required="required" />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Modelo Oficina 
					<input id="modelo2" type="text" name="modelo2" required="required" />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Modelo Oficina 
					<input id="modelo3" type="text" name="modelo3" required="required" />
				</label>
			</div>
			<div class="large-12 columns">
				<label>Modelo Vendedor 
					<input id="modelvendedor" type="text" name="modelvendedor" required="required" />
				</label>
			</div>
			<div class="large-6 columns"> 
				<label>Procedencia 
					<input id="procedenc" type="text" name="procedenc" required="required" />
				</label>
			</div>
			<div class="large-6 columns"> 
				<label>CantDisp 
					<input readonly="readonly" id="cantdisp" type="text" name="cantdisp" required="required" />
				</label>
			</div>
		</div>
		<div class="row">
			<button type="submit" class="button large-3 submit" style="float: right;">Guardar</button>
		</div>
	</form>
	<form id="eliminar">
		<div class="row">
			<button type="submit" class="button large-3 submit alert"  style="float: right;">Eliminar</button>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/articulos/actualizarArticulo.js" type="text/javascript"></script>
</body>
</html>