<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>
	<h1>Ajustar nombres</h1>
	<form id="editar" onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<label>C&oacute;digo
				<input id="codigo" type="text" name="codigo" required="required" readonly="readonly"/></label>
			</div>
			<div class="large-12 medium-12 small-12 columns">
				<label>Nombre Espa&ntilde;ol 
				<input id="nombre" type="text" name="nombre" required="required" /></label>
			</div>

			<div class="large-12 medium-12 small-12 columns">
				<label>Nombre Ingl&eacute;s
				<input id="nombrei" type="text" name="nombrei" required="required" /></label>
			</div> 
			<div class="large-6 medium-6 small-6 columns">
				<label>Tipo Art&iacute;culo
				<input id="tipart" type="text" name="tipart" required="required" /></label>
			</div>
			<div class="large-6 medium-6 small-6 columns">
				<label>Con Iva[S/N]
				<input name="iva" id="iva" type="text" required="required"/></label>
			</div>
		</div>
		<div class="row">
			<button id="crear" type="submit" style="float: right;" class="button large-3 submit">Editar</button>
		</div>
	</form>
	<form id="eliminar">
		<div class="row">
			<button id="crear" type="submit" style="float: right;" class="button large-3 submit alert	">Eliminar</button>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script type="text/javascript" src="/static/js/articulos/editarInglesEspaniol.js"></script>
</body>
</html>