<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Nueva zona</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1>Reporte Clientes Referencia Especial</h1>
	
	<div class="row">
	    <div class="small-offset-3 medium-offset-3 large-offset-3 small-6 large-6 medium-6 columns">
	      <label id="estado-reporte">
	      </label>
	    </div>
    </div>
	&nbsp;
	<div class="row">
		<div class="large-offset-2 medium-offset-2 small-offset-2 large-4 medium-4 small-4 columns">
			<button type="submit" class="button large-12 small-12 medium-12 submit"
				style="float: right" onclick="generarReporte( )" id="generar">Generar</button>
		</div>
		<div class="large-4 medium-4 small-4 columns end">
			<a type="submit" class="button large-12 small-12 medium-12 submit"
				style="float: right" disabled="disabled"  id="descargar" href="#" download="clientesRefEspecial.pdf"> Descargar</a>
		</div>
	</div>

	
	<footer th:replace="footer :: footer"></footer>
	
	<script src="/static/js/reportes/clientesRefenciaEspecial.js"></script>
</body>
</html>