<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header">
<title>Todos los Usuarios</title>
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>
	<!--  Inicio Contenido Página  -->
    <div class="row formulario">
  	<div class="medium-6 medium-centered large-6 large-centered columns">
  		<form th:object="${account}" method="post" th:action="@{/EditarUsuario/}">
  			<label for="username">Nombre de Usuario</label> <input type="text" id="username" th:field="*{username}" th:value="${account.username}" />
  			<label for="password">Contrase&ntilde;a</label> <input type="password" id="password" th:field="*{password}" th:value="${account.password}" />
  			<input type="hidden" th:field="*{id}"/>
  			<label> Rol<select th:field="*{role}">
  				<option th:each="role : ${roles}"  th:value="${role}"  th:text="${role.role}"></option>
			</select></label>
  			<button type="submit" class="button expanded">Editar con nuevos valores</button>
  		</form>
  	</div>
  	</div>
    <footer th:replace="footer :: footer"></footer>
</body>
</html>