<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<footer th:fragment="footer">
		<script src="/static/foundation-6/js/vendor/jquery.min.js"></script>
		<script src="/static/js/utility.js"></script>
		<script src="/static/foundation-6/js/foundation.min.js"></script>
		<script src="/static/foundation-6/js/app.js"></script>
		<script src="/static/foundation-6/js/vendor/what-input.min.js"></script>
		<script src="/static/js/dropdown.js"></script>
		<script src="/static/js/angular.min.js"></script>
	</footer>

</body>
</html>