<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>
	<h1 style="color:black">SIDIC</h1>
	<center><h3><a style="color:blue" href="/login">Inicia Sesi&oacute;n</a></h3></center>
	<center><h3><a style="color:blue" href="/logout">Cierra Sesi&oacute;n</a></h3></center>
	<center><h3><a style="color:blue" href="/jm/">JM</a></h3></center>
   	<footer th:replace="footer :: footer"></footer>
</body>
</html>
