<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1 style="color:black"> Men&uacute; JM</h1>
	<center><h3><a style="color:blue" href="/login">Inicia Sesión</a></h3></center>
	<center><h3><a style="color:blue" href="/logout">Cierra Sesión</a></h3></center>
	<center><h3><a style="color:blue" href="/login">XJ7</a></h3></center>
   	<footer th:replace="footer :: footer"></footer>
</body>
</html>
