<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title tiles:fragment="title">Login</title>
<link rel="stylesheet" href="/static/css/report.css" />
<link rel="stylesheet" href="/static/foundation-6/css/foundation.min.css" />
<link rel="stylesheet" href="/static/css/main.css"/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<div class="title-bar" data-responsive-toggle="main-menu"
		data-hide-for="medium">
		<button class="menu-icon" type="button" data-toggle=""></button>
		<div class="title-bar-title">Men&uacute;</div>
	</div>
	<div class="top-bar" id="main-menu">
		<div class="top-bar-left">
			<ul class="dropdown menu" data-dropdown-menu="">
				<li class="menu-text">SIDIC - Impordisa</li>
			</ul>
		</div>
		<div class="top-bar-right">
			<ul class="menu vertical medium-horizontal"
				data-responsive-menu="drilldown medium-dropdown">
				<li class="has-submenu"><a href="#">Usuarios</a>
					<ul class="submenu menu vertical" data-submenu="">
						<li><a href="/Usuarios/">Ver Todos los Usuarios</a></li>
						<li><a href="/CrearUsuario/">Agregar Usuario</a></li>
					</ul></li>
				<li><a href="#">Reportes</a></li>
				<li><a href="#">Configuración</a></li>
				<li><a href="/logout">Cerrar Sesión</a></li>
			</ul>
		</div>
	</div>
	
	<!--  Inicio Contenido página -->
	<div class="row formulario">
  	<div class="medium-6 medium-centered large-6 large-centered columns">
	<div tiles:fragment="content">
		<form name="f" th:action="@{/login}" method="post">
			<div class="row column log-in-form">
				<h4 class="text-center">Inicia sesión con tu cuenta</h4>
				<div th:if="${param.error}" class="alert alert-error">Nombre
					de Usuario o contraseña inv&aacute;lido</div>
				<div th:if="${param.logout}" class="alert alert-success">Sesi&oacute;n
					cerrada</div>
				<label for="username">Nombre de Usuario</label> <input type="text"
					id="username" name="username" /> <label for="password">Contraseñ</label>
				<input type="password" id="password" name="password" />
				<div class="form-actions">
					<button type="submit" class="button expanded">Log in</button>
				</div>
			</div>
		</form>
	</div>
	</div>
	</div>
	<!--  Fin contenido Página -->
	
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/static/foundation-6/js/foundation.min.js" ></script>
<script src="/static/foundation-6/js/app.js"></script>
<script	src="/static/foundation-6/js/vendor/what-input.min.js"></script>
</body>
</html>

