<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="no-print" th:fragment="nav">
        <ul>
            <li><a class="nav__item" href="/mnufaci/">Facturaci&oacute;n</a></li>
            <li><a class="nav__item" href="/mnuenti/">Bodega</a></li>
            <!-- <li><a class="nav__item" href="/mnudevi/">Devoluciones</a></li>  -->
            <li><a class="nav__item" href="#">Reportes</a>
            	<ul>
            		<!-- <li><a class="nav__item" href="#">Lista de Precios</a></li>  -->
            		<li><a class="nav__item" href="/mnuckari/">Cardex del Art&iacute;culo</a></li>
            		<li><a class="nav__item" href="/mnucarti/">Informaci&oacute;n del Art&iacute;culo</a></li>
            		<li><a class="nav__item" href="/mmnulcosijm/">Costo de Ventas</a></li>
            	</ul>
            </li>
             <!-- <li><a class="nav__item" href="/mnuclijm/">Clientes</a></li>-->
             <!--  <li><a class="nav__item" href="">Art&iacute;culos</a>
             	<ul>
            		<li><a class="nav__item" href="/mnuactacri/">Actualizar Art&iacute;culos</a></li>
            		<li><a class="nav__item" href="/mnuajcsjm/">Actualizar Nombres Espa&ntilde;ol e Ingl&eacute;s</a></li>
            	</ul>
             </li> -->
             <!-- 
            <li><a class="nav__item" href="#">Ajustes</a>
            	<ul>
            		<li><a class="nav__item" href="#">Ajustar Cantidades de Inventario</a>
            			<ul>
            				<li><a class="nav__item" href="/mnuajcandcjm/">	&nbsp;	&nbsp;Cantidad dando c&oacute;digos</a></li>
            				<li><a class="nav__item" href="/mnuajucsi/">	&nbsp;	&nbsp; Cantidad Secuencialmente</a></li>
            			</ul>
            		</li>
            		<li><a class="nav__item" href="#">Ajustar Precios</a>
            			<ul>
            				<li><a class="nav__item" href="/mnuajupi/">&nbsp;	&nbsp; Precio Dando c&oacute;digo</a></li>
            				<li><a class="nav__item" href="/mnuajupsi/">&nbsp;	&nbsp; Precio Secuencialmente</a></li>
            			</ul>
            		</li>
            		<li><a class="nav__item" href="/mnuanufi/">Anular Factura </a></li>
            	</ul>
            </li>  -->
            <li><a class="nav__item" href="/mnucomi/">Compras</a></li>
            <!-- 
            <li><a class="nav__item" href="#">Clientes Especiales</a>
            	<ul>
					<li><a class="nav__item" href="/mnuclirei/"> &nbsp;	&nbsp; Clientes  con Referencia Especial</a></li>
            		<li><a class="nav__item" href="/mnucliresi/">&nbsp;	&nbsp; Actualizaci&oacute;n Clientes con referencia Especial</a></li>
            		<li><a class="nav__item" href="#">&nbsp;	&nbsp; Listado Cliente/Articulo con Referencia Especial</a></li>
            	</ul>
            </li>  -->
            <li><a class="nav__item" href="/jm/">Men&uacute; JM</a></li>
            <!-- <li><a class="nav__item" href="#">Ayuda</a></li>   -->
            <li><a class="nav__item" href="/logout">Salir</a></li>
            <li><a class="nav__item" href="/login">Login</a></li>
        </ul>
    </nav>
</body>
</html>
