<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="no-print" th:fragment="navJM">
        <ul>
            <li><a class="nav__item" href="/mnufaci/">Par&aacute;metros</a>
            	<ul>
            		<li><a class="nav__item" href="#">Par&aacute;metros Varios</a></li>
            		<li><a class="nav__item" href="/mnuactpjm/"> Actualizar Porcentajes</a></li>
            		<li><a class="nav__item" href="#">Generar Hoja de C&aacute;lculo</a></li>
            		<li><a class="nav__item" href="#">Activar L&iacute;nes Art&iacute;culos</a></li>
            		<li><a class="nav__item" href="#">Valor Retenci&oacute;n</a></li>
            		<li><a class="nav__item" href="#">Actualiza Clientes Art&iacute;culos Referencia Especial</a></li>
            		<li><a class="nav__item" href="#">Inclusi&oacute;n de Referencias Especiales por cliente</a></li>
            		<li><a class="nav__item" href="#">Actualiza Precios - Clientes Referencia Especial</a></li>
            		<li><a class="nav__item" href="#">Clientes Con Referencia Especial</a></li>
            		<li><a class="nav__item" href="#">Actualizaci&oacute;n Zonas</a></li>
            		<li><a class="nav__item" href="#">Lista Proveedores	</a></li>
            		<li><a class="nav__item" href="#">Actualiza Ref. /Modelo Vendedor</a></li>
            		<li><a class="nav__item" href="#">Ventas Seguimiento</a></li>	
            		<li><a class="nav__item" href="#">Verifica Cardex</a></li>	
            		<li><a class="nav__item" href="#">Seguridad</a></li>
            		<li><a class="nav__item" href="#">Cambio de Password</a></li>	
            	</ul>
            </li>
            <li><a class="nav__item" href="/mnuenti/">Bodega</a></li>
            <li><a class="nav__item" href="/mnudevi/">Devoluciones</a></li>
            <li><a class="nav__item" href="#">Reportes</a>
            	<ul>
            		<li><a class="nav__item" href="#">Lista de Precios</a></li>
            		<li><a class="nav__item" href="#">Cardex del Art&iacute;culo</a></li>
            		<li><a class="nav__item" href="#">Informaci&oacute;n del Art&iacute;culo</a></li>
            		<li><a class="nav__item" href="#">Costo de Ventas</a></li>
            	</ul>
            </li>
        </ul>
    </nav>
</body>
</html>
