<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="no-print" th:fragment="navJM">
        <ul>
            <li><a class="nav__item" href="#">Par&aacute;metros</a>
            	<ul>
            		<li><a class="nav__item" href="/mnuparjm/">Par&aacute;metros Varios</a></li>
            		<li><a class="nav__item" href="/mnuactpjm/"> Actualizar Porcentajes</a></li>
            		<li><a class="nav__item" href="#">Generar Hoja de C&aacute;lculo</a></li>
					<li><a class="nav__item" href="/mnuclijm/">Clientes</a></li>
            		<li><a class="nav__item" href="/mnuactlajm/">Activar L&iacute;neas Art&iacute;culos</a></li>
            		<li><a class="nav__item" href="/mnulvalretjm/">Valor Retenci&oacute;n</a></li>
            		<li><a class="nav__item" href="/mnuclirei/">Clientes Con Referencia Especial</a></li>            		
            		<li><a class="nav__item" href="/mnucliresi/crear/">Actualiza Clientes/Art&iacute;culos Referencia Especial</a></li>
            		<li><a class="nav__item" href="/mnuespeciagen/">Inclusi&oacute;n de Referencias Especiales Por Cliente</a></li>
            		<li><a class="nav__item" href="/mnuactespecia/">Actualiza Precios - Clientes Referencia Especial</a></li>
            		<li><a class="nav__item" href="/mnuactzonjm/">Actualizaci&oacute;n Zonas</a></li>
            		<li><a class="nav__item" href="/Mnulprov/">Lista Proveedores	</a></li>
            		<li><a class="nav__item" href="/mnuactrefermodel/">Actualiza Ref. /Modelo Vendedor</a></li>
            		<!--  <li><a class="nav__item" href="#">Ventas Seguimiento</a>
            			<ul>
            				<li><a class="nav__item" href="#">Actualizar Datos</a></li>
            				<li><a class="nav__item" href="#">Revisar Datos</a></li>
            			</ul>	
            		</li>-->
            		<li><a class="nav__item" href="#">Seguridad</a>
            			<ul>
            				<li><a class="nav__item" href="/mnuniveles/">Niveles De Acceso</a></li>
            				<li><a class="nav__item" href="/mnunivelopc/">Opciones a Niveles De Acceso</a></li>
            				<li><a class="nav__item" href="/mnuusuarios/">Creaci&oacute;n De Usuarios</a></li>
            			</ul>	
            		</li>	
            		<li><a class="nav__item" href="/mnucampass/">Cambio de Contrase&ntilde;a</a></li>	
            	</ul>
            </li>
            <li><a class="nav__item" href="#">Compras</a>
	            <ul>
	            	<li><a class="nav__item" href="/mnucomjm/">Registro Compra</a></li>
            		<li><a class="nav__item" href="/mnuconspedidos/">Consulta Pedidos</a></li>
            		<li><a class="nav__item" href="#">Detalle Importaciones</a></li>
	            </ul>
            </li>
            <li><a class="nav__item" href="/mnudevjm/">Devoluciones</a></li>
            <li><a class="nav__item" href="#">Rec. Cartera</a>
	            <ul>
	            	<li><a class="nav__item" href="#">R. Cartera</a></li>
            		<li><a class="nav__item" href="#">Recibos Caja</a></li>
            		<li><a class="nav__item" href="#">Otros Recibos de Caja</a></li>
            		<li><a class="nav__item" href="#">Impresi&oacute;n RC/NCND</a></li>
	            </ul>
            </li>
            <li><a class="nav__item" href="#">Reportes</a>
            	<ul>
            		<li><a class="nav__item" href="#">Lista de Precios</a></li>
            		<li><a class="nav__item" href="#">Cardex del Art&iacute;culo</a></li>
            		<li><a class="nav__item" href="#">Informaci&oacute;n del Art&iacute;culo</a></li>
            		<li><a class="nav__item" href="#">Costo de Ventas</a></li>
            	</ul>
            </li>
            <li><a class="nav__item" href="#">Clientes</a>
	            <ul>
	            	<li><a class="nav__item" href="/mnuclijm/">Actualizaci&oacute;n de Clientes</a></li>
            		<li><a class="nav__item" href="/mnuactciud/">Actualizar Ciudades</a></li>
            		<li><a class="nav__item" href="/mnuactcorrjm/">Actualizar Correr&iacute;as</a></li>
            		<li><a class="nav__item" href="/mnurevlistajm/">Revisar Lista De Rotulaci&oacute;n</a></li>
            		<li><a class="nav__item" href="/mnuactcorrclijm/">Revisar Correr&iacute;as En Archivo De Clientes</a></li>
            		<li><a class="nav__item" href="/mnuactvenjm/">Actualizar Vendedores En Archivo De Clientes</a></li>
            		<li><a class="nav__item" href="/mnuactdescljm/">Activa/Desactiva Clientes</a></li>
	            </ul>
            </li>
            <li><a class="nav__item" href="#">Proveedores</a>
	            <ul>
	            	<li><a class="nav__item" href="/tipoOperacion/">Tipos De Operaci&oacute;n</a></li>
            		<li><a class="nav__item" href="/bases/">Bases</a></li>
            		<li><a class="nav__item" href="/Mnulprov/actualizacion/">Actualizaci&oacute;n De Proveedores</a></li>
            		<li><a class="nav__item" href="#">Registro Cobro</a></li>
            		<li><a class="nav__item" href="#">Impresi&oacute;n Cobro</a></li>
	            </ul>
            </li>
           <li><a class="nav__item" href="">Art&iacute;culos</a>
             	<ul>
            		<li><a class="nav__item" href="/mnuactacri/">Actualizar Art&iacute;culos</a></li>
            		<li><a class="nav__item" href="/mnuajcsjm/">Actualizar Nombres Espa&ntilde;ol e Ingl&eacute;s</a></li>
            	</ul>
             </li>
            <li><a class="nav__item" href="/mnuvenjm/">Vendedores</a></li>
            <li><a class="nav__item" href="#">Ajustes</a>
            	<ul>
	            	<li><a class="nav__item" href="#">Notas D&eacute;bito y Cr&eacute;dito Cartera</a></li>
	            	<li><a class="nav__item" href="#">Notas D&eacute;bito y Cr&eacute;dito Acumulado Ventas</a></li>
	            	<li><a class="nav__item" href="#">Notas D&eacute;bito y Cr&eacute;dito Reporte De Ventas</a></li>
	            	<li><a class="nav__item" href="#">Ajustar Cantidades De Inventario</a>
	            		<ul>
			            	<li><a class="nav__item" href="/mnuajcandcjm/">Dando Los C&oacute;digos</a></li>
			            	<li><a class="nav__item" href="/mnuajucsi/">Secuencialmente (Desde Un Art&iacute;lo)</a></li>
		           		</ul>
	            	</li>
	            	<li><a class="nav__item" href="#">Ajustar Precio</a>
	            		<ul>
			            	<li><a class="nav__item" href="/mnuajupi/">Dando Los C&oacute;digos</a></li>
			            	<li><a class="nav__item" href="/mnuajupsi/">Secuencialmente A Partir De Un Art&iacute;culo</a></li>
		           		</ul>
	            	</li>
	            	<li><a class="nav__item" href="#">Ajustar Costo &Uacute;ltima Compra</a>
	            		<ul>
			            	<li><a class="nav__item" href="#">C&aacute;lculo Costo JM</a></li>
			            	<li><a class="nav__item" href="#">Corregir Costo JM</a></li>
			            	<li><a class="nav__item" href="#">C&aacute;lculo Costo Impordisa</a></li>
			            	<li><a class="nav__item" href="#">Corregir Costo Impordisa</a></li>
			            	<li><a class="nav__item" href="#">Corregir Costo Combinado</a></li>
		           		</ul>
	            	</li>
	            	<li><a class="nav__item" href="#">Anular Compra / Corregir Cardex</a>
	            		<ul>
			            	<li><a class="nav__item" href="#">Anular Compra</a></li>
			            	<li><a class="nav__item" href="#">Corregir Cardex</a></li>
			            	<li><a class="nav__item" href="#">Corregir Cardex Impordisa</a></li>
		           		</ul>
	            	</li>
					<li><a class="nav__item" href="#">Anular Factura</a></li>
					<li><a class="nav__item" href="#">Ajustes Costos De Pedidos</a></li>
	            </ul>
            </li>
			<li><a class="nav__item" href="/">Men&uacute; Impordisa</a></li>
			<li><a class="nav__item" href="/logout">Salir</a></li>
        </ul>
    </nav>
</body>
</html>
