<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Vendedor / Representante</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1> Vendedor / Representante </h1>
	<div class="row">
		<div class="large-2 large-offset-9 columns">
		  <a id="nuevo" class="button" style="width: 100%;">Nuevo</a>
		</div>
	</div>
	
	
	<table>
		<thead>
			<tr>
				<th >CodArt</th>
				<th>Ref.Of</th>
				<th>Mod. Of.1</th>
				<th>Mod. Of.2</th>
				<th>Mod. Of.3</th>
				<th>Marca </th>
				<th>Disp</th>
				<th>Ref. Vend.</th>
				<th>Mod. Vend.</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="prod : ${articulos}" >
		    <td th:text="${prod.codigo}" class="codigo"></td>
		    <td th:text="${prod.referencia}"></td>
		    <td th:text="${prod.modelo1}"></td>
		    <td th:text="${prod.modelo2}"></td>
		    <td th:text="${prod.modelo3}"></td>
		    <td th:text="${prod.marca}"></td>
		    <td th:text="${prod.cantdisp}"></td>
		    <td th:text="${prod.refvendedor}"></td>
		    <td th:text="${prod.modelvendedor}"></td>
		</tr>
		</tbody>
	</table>
	
	<style>

table {
    display: flex;
    flex-flow: column;
    height: 60vh;
    width: 80%;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}
		
	</style>
	
   	<footer th:replace="footer :: footer"></footer>
   	<script src="/static/js/vendedores/modelovendedor.js"></script>
</body>
</html>

