<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Vendedor / Representante</title>
</head>
<body class="main-form">
	
	<nav th:replace="navJM :: navJM"></nav>
	
	
	<link rel="stylesheet" href="/static/css/tabla.css"/>
	
	<h1> Vendedor / Representante </h1>
	<div class="row">
		<div class="large-2 large-offset-9 columns">
		  <a id="nuevo" class="button" style="width: 100%;">Nuevo</a>
		</div>
	</div>
	
	<table>
		<thead>
			<tr>
				<th style="width:16.6%;">Código</th>
				<th style="width:16.6%;">Nombre</th>
				<th style="width:16.6%;">Tipo</th>
				<th style="width:16.6%;">Dirección</th>
				<th style="width:16.6%;">Teléfono</th>
				<th style="width:16.6%;">Obervación 1</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
   	
   	<footer th:replace="footer :: footer"></footer>
   	<script src="/static/js/vendedores/vendedores.js"></script>

</body>
</html>

