<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Nueva correría</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1>Editar  Nivel</h1>
	<form onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-2 medium-2 small-2 row">
				<label>Nivel <input readonly="readonly" id="nivel" type="number" name="nivel" required="required" onchange="verificar()"/>
				</label>
			</div>
			<div class="large-2 medium-2 small-2 row">
				<label>Descripci&oacute;n <input id="descripcion" type="text" name="descripcion"
					required="required"  /></label>
			</div>
		</div>
		<div class="row">
			<div class="">
				<button type="submit" class="button large-3 submit"
					style="float: right">Editar Nivel</button>
			</div>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/niveles/niveleseditar.js"></script>
</body>
</html>