<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<style>
		tr:hover {
			background-color: #ffff78;
		}
	</style>
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>
	<div class="loader"></div>
	<table style="display: none;">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nombre</th>
				<th>Referencia</th>
				<th>Estado</th>
				<th>Descripción</th>
				<th>Permite ref especial</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/inventario/ajustarPreciosSecuencial.js"></script>
</body>
</html>