<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Ajustar precios secuencialmente</title>
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>
	<h1>Ajustar precios secuencialmente</h1>
	<div class="loader"></div>
	<table style="display: none;">
		<thead>
			<tr>
				<th>Código</th>
				<th>Nombre</th>
				<th>Referencia</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/inventario/ajustarPreciosSecuencial.js"></script>
</body>
</html>