<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Modificar cantidades de inventario</title>
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>

	<h1>Modificar cantidades de inventario</h1>
	<form>
		<table>
			<tr>
				<th style="width:16.6%">C&oacute;digo</th>
				<th style="width:16.6%">Nombre</th>
				<th style="width:16.6%">Cantidad disponible</th>
				<th style="width:16.6%">Nueva cantidad</th>
				<th style="width:16.6%">Doc</th>
				<th style="width:16.6%">Ndoc</th>
			</tr>
			<tr>
				<td><input type="number" id="codigo"></input></td>
				<td><input type="text" id="nombre"></input></td>
				<td><input type="text" id="cantidadVieja" readonly="readonly"></input></td>
				<td><input type="number" id="cantNueva" required="required"></input></td>
				<td><input type="text" id="documento" required="required" maxlength="3"></input></td>
				<td><input type="number" id="ndoc" required="required"></input></td>
			</tr>
	
		</table>
		<div class="row">
			<div class="large-2 medium-2 small-2 large-offset-9 columns">
				<input type="submit" class="button expand success" style="width: 100%;" value="Guardar cambios"></input>
			</div>
		</div>
		<div class="row">
			<div class="large-2 medium-2 small-2 large-offset-9 columns">
			  <a class="button expand" onclick="agregarFila();" style="width: 100%;">Añadir fila</a>
			</div>
		</div>
	</form>	
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/inventario/ajusteCantidad.js"></script>
</body>
</html>
