<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Ajustar precios código</title>
</head>
<body class="main-form">
	<nav th:replace="nav :: nav"></nav>
	<h1>Modificar precio de inventario</h1>
	<form>
		<table>
			<tr>
				<th>C&oacute;digo</th>
				<th>Nombre</th>
				<th>Referencia</th>
				<th>Precio</th>
				<th>Nuevo precio</th>
			</tr>
			<tr>
				<td><input type="text" id="codigo"></input></td>
				<td><input type="text" id="nombre" readonly="readonly"></input></td>
				<td><input type="text" id="referencia" readonly="readonly"></input></td>
				<td><input type="number" id="precio" readonly="readonly"></input></td>
				<td><input type="number" id="nPrecio" required="required"></input></td>
			</tr>
	
		</table>
		<div class="row">
			<div class="large-2 large-offset-9 columns">
			  <a id="botAgregaFila" class="button expand" onclick="agregarFila();" style="width: 100%;">Añadir fila</a>
			</div>
		</div>
		<div class="row">
			<div class="large-2 large-offset-9 columns">
				<input type="submit" class="button expand success" style="width: 100%;" value="Guardar cambios"></input>
			</div>
		</div>
	</form>	
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/inventario/ajustePrecio.js"></script>
</body>
</html>
