<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
	<title>Inicializar N&uacute;mero de Secuencia Facturas</title>
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1>Inicializar N&uacute;mero de Secuencia Facturas</h1>
	<form onkeypress="return event.keyCode != 13;">
		<div class="row">
			<div class="large-4 medium-4 small-4 columns">
				<label>Numero Inicial de las facturas Imporisa <input id="factiva" type="text" name="factiva" onchange="verificar()"
				 required="required" />
				</label>
			</div>
			<div class="large-4 medium-4 small-4 columns">
				<label>Clave para entrar al men&uacute; JMQ <input id="clavec" type="text" name="clavec"
					required="required"  /></label>
			</div>
			<div class="large-4 medium-4 small-4 columns">
				<label>Procentaje de IVA<input id="iva" type="text" name="iva"
					required="required"  /></label>
			</div>
			<div class="large-6 medium-6 small-6  columns">
				<label>Cuenta 1 impresi&oacute;n factura <input id="cuenta1" type="text" name="cuenta1"
					required="required"  /></label>
			</div>
			
			<div class="large-6 medium-6 small-6 columns">
				<label>Cuenta 2 impresi&oacute;n factur <input id="cuenta2" type="text" name="cuenta2"
					required="required"  /></label>
			</div>
			<div class="large-4 medium-4 small-4 columns">
				<label>Recibos Caja<input id="recibocaja" type="text" name="recibocaja"
					required="required"  /></label>
			</div>
			<div class="large-4 medium-4 small-4 columns">
				<label>Notas Cre&eacute;dito <input id="nc" type="text" name="nc"
					required="required"  /></label>
			</div>
			<div class="large-4 medium-4 small-4 columns">
				<label>Notas de&eacute;bito <input id="nd" type="text" name="nd"
					required="required"  /></label>
			</div>
			
			<div class="large-3 columns">
				<label>Facturas Proveedores<input id="factPROVEEDORES" type="text" name="factproveedores"
					required="required"  /></label>
			</div>
			<div class="large-3 medium-3 small-3 columns">
				<label>Nuevo Formato <input id="nuevoformato" type="text" name="nuevoformato"
					required="required"  /></label>
			</div>
			<div class="large-3 medium-3 small-3 columns">
				<label>Fecha Seguimiento Llantas <input id="aaaaseguimiento" type="text" name="aaaaseguimiento"
					required="required"  /></label>
			</div>
			<div class="large-3 medium-3 small-3 columns">
				<label>Factura en Proceso <input id="facturaEnproceso" type="text" name="facturaenproceso"
					required="required"  /></label>
			</div>
			
		</div>
		<div class="row">
			<div class="">
				<button type="submit" class="button large-3 submit"
					style="float: right">Actualizar</button>
			</div>
		</div>
	</form>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/parametros/parametros.js"></script>
</body>
</html>