<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>

<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>

	<h1>Tipos de Operaci&oacute;n Registrados</h1>
	
	<div class="row">
		<a class="large button boton boton-derecha" href="agregar/">Agregar Nuevo Tipo de Operaci&oacute;n </a>
	</div>
	<table id="tiposOperacion">
		
	</table>
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/tiposOperacion/tiposOperacion.js" type="text/javascript"></script>
</body>
</html>