<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>

<body class="main-form">

	<nav th:replace="navJM :: navJM"></nav>
	
	<link rel="stylesheet" href="/static/css/tabla.css"/>
	
	<h1>Tipos de Operaci&oacute;n Registrados</h1>
	
	<div class="row">
		<a class="large button boton boton-derecha" href="agregar/">Agregar Nuevo Tipo de Operaci&oacute;n </a>
	</div>
	
	<table id="tiposOperacion">
		<thead>
			<tr>
					<th style="width: 50%;"> C&oacute;digo </th>
					<th style="width: 50%;"> Nombre </th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
	
	<footer th:replace="footer :: footer"></footer>
	
	<script src="/static/js/tiposOperacion/tiposOperacion.js" type="text/javascript"></script>

</body>
</html>