<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body class="main-form">
	<nav th:replace="navJM :: navJM"></nav>
	<h1>Compras</h1>
	
	<link rel="stylesheet" href="/static/css/tabla.css"/>
	
	<form>
		<table>
			<thead>
			<tr>
				<th style="width:11%;">C&oacute;digo</th>
				<th style="width:11%;">Nombre</th>
				<th style="width:11%;">Referencia</th>
				<th style="width:11%;">Cantidad</th>
				<th style="width:11%;">CostoJM</th>
				<th style="width:11%;">CostoIM</th>
				<th style="width:11%;">Doc</th>
				<th style="width:11%;">NDoc</th>
				<th style="width:11%;">Precio</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td><input type="text" id="codigo"></input></td>
				<td><input type="text" id="nombre" readonly="readonly"></input></td>
				<td><input type="text" id="referencia" readonly="readonly"></input></td>
				<td><input type="number" id="cantidad" required="required"></input></td>
				<td><input type="number" id="costoJm" required="required"></input></td>
				<td><input type="number" id="costoIm" required="required"></input></td>
				<td><input type="text" id="doc" required="required"></input></td>
				<td><input type="number" id="nDoc" required="required"></input></td>
				<td><input type="number" id="precio"></input></td>
			</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="large-2 large-offset-9 columns">
			  <a id="botAgregaFila" class="button expand" onclick="agregarFila();" style="width: 100%;">Añadir fila</a>
			</div>
		</div>
		<div class="row">
			<div class="large-2 large-offset-9 columns">
				<input type="submit" class="button expand success" style="width: 100%;" value="Guardar cambios"></input>
			</div>
		</div>
	</form>	
	<footer th:replace="footer :: footer"></footer>
	<script src="/static/js/compras/agregarCompra.js"></script>
</body>
</html>
